.footer {
    margin-top: 5rem;
    background-color: #2d2d2d; /* Dark grey background */
    color: #ffffff;
    padding: 1.5rem 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    color: orange;
    font-size: 1.8rem;
    margin-left: 2rem;
    text-align: center;
  }
  
  .footer-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 2rem;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-icons a:hover:nth-child(1) {
    color: #3b5998; /* Facebook color */
  }
  
  .social-icons a:hover:nth-child(2) {
    color: #e1306c; /* Instagram color */
  }
  
  .social-icons a:hover:nth-child(3) {
    color: #1da1f2; /* Twitter color */
  }
  
  .social-icons a:hover:nth-child(4) {
    color: #0077b5; /* LinkedIn color */
  }
  