@media screen and (max-width: 768px) {
   

    .card-container {
        display: flex;
        justify-content: center;
        padding: 3rem;
    }

    .card {
        width: 80%;
        /* Set the width to 100% to take the full width of the container */
        max-width: 16rem;
        /* Set a maximum width to ensure it's not too wide on mobile devices */
    }


}
