@media screen and (max-width: 768px) {
   

    .card-container {
        display: flex;
        justify-content: center;
        padding: 3rem;
    }

    .card {
        width: 80%;
        max-width: 16rem;
        
    }


}
