.host-form-container {
    background-color: #2c2c2c;
    color: #c0c0c0;
    
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .host-form-container h1 {
    color: #ff6600;
  }
  
  .host-form-container .MuiTextField-root {
    background-color: #3d3d3d;
    border-radius: 5px;
  }
 
  .host-form-container .MuiInputBase-root {
    color: #ffffff;
  }
  
  .host-form-container .MuiButton-root {
    background-color: #ff6600;
    color: #ffffff;
  }
  
  .host-form-container .MuiButton-root:hover {
    background-color: #e65c00;
  }
  